@model IEnumerable<TallinnaRakenduslikKolledz.Models.Department>
@{
	ViewData["Title"] = "Osakonnad";
}
<h1>Osakonnad</h1>
<p>
	<a asp-action="Create">Loo uus osakond</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
			<th>@Html.DisplayNameFor(model => model.Budget)</th>
			<th>@Html.DisplayNameFor(model => model.StartDate)</th>
			<th>@Html.DisplayNameFor(model => model.Administrator)</th>
			<th>@Html.DisplayNameFor(model => model.RowVersion)</th>
			<th>@Html.DisplayNameFor(model => model.Quota)</th>
			<th>@Html.DisplayNameFor(model => model.LeaderName)</th>
			<th>@Html.DisplayNameFor(model => model.Pet)</th>
			<th>Tööriistad</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var department in Model)
		{
			<tr>
					<td>@Html.DisplayFor(modelItem => department.Name)</td>
					<td>@Html.DisplayFor(modelItem => department.Budget)</td>
					<td>@Html.DisplayFor(modelItem => department.StartDate)</td>
					<td>@Html.DisplayFor(modelItem => department.Administrator)</td>
					<td>@Html.DisplayFor(modelItem => department.RowVersion)</td>
					<td>@Html.DisplayFor(modelItem => department.Quota)</td>
					<td>@Html.DisplayFor(modelItem => department.LeaderName)</td>
					<td>@Html.DisplayFor(modelItem => department.Pet)</td>
					<td>
					@*/* Muuda */*@

					@*/* Vaata */*@

					@*/* Vaata Adminit */*@

					@*/* Kustuta */*@
					<a asp-action="Edit" asp-route-id="@department.DepartmentID">Muuda</a>
					<a asp-action="Details" asp-route-id="@department.DepartmentID">Vaata</a>
					<a asp-action="Delete" asp-route-id="@department.DepartmentID">Eemalda</a>
					</td>
			</tr>
		}
	</tbody>
</table>
